{% extends "abstracts/layout.html" %}



{% block content %}
	<section class="orders-view">
		
		<h1>Disputes ({{ disputes.total }})</h1>


		<a href="" style="float: right; margin: 6px 12px 0 0"><button class="search_button">Do Nothing</button></a>

		<p>Filter: 
		
		{% if filter_by == "buyer" %}
			<a style="margin-right: -18px ; text-decoration: none ;" href="{{ url_for('employees.disputes', filter_by='buyer') }}"><strong><span>Orders</span></strong></a> 
		{% else %}
			<a style="margin-right: -18px ; text-decoration: none ;" href="{{ url_for('employees.disputes', filter_by='buyer') }}"><span>Orders</span></a> 
		{% endif %}

		{% if filter_by == "vendor" %}
			<a style="margin-right: 0px ; text-decoration: none ;" href="{{ url_for('employees.disputes', filter_by='vendor') }}"><strong><span>Reviews</span></strong></a> 
		{% else %}
			<a style="margin-right: 0px ; text-decoration: none ;" href="{{ url_for('employees.disputes', filter_by='vendor') }}"><span>Reviews</span></a> 
		{% endif %}




		Page:
		<!-- Print page numbers on top based upon the iteration and number of messages in each category -->
		<span>

			{% if not disputes.total %}
				<a class="blue-link">0</a>
			{% endif %}

			{% for page_num in disputes.iter_pages() %}
				{% if page_num == page %}
					<strong><a class="blue-link"href="{{ url_for('employees.disputes', filter_by=filter_by, page=page_num) }}">{{ page_num }}</a></strong>
				{% elif page_num %}
					<a class="blue-link"href="{{ url_for('employees.disputes', filter_by=filter_by, page=page_num) }}">{{ page_num }}</a>

				{% else %}
					...
				{% endif %}
			{% endfor %}

		</span>
















		<table class="orders-table desktop-table">
			<thead>
				<tr>
					{% if filter_by == "buyer" %}
						<th>Order ID</th>
					{% else %}
						<th>Review ID</th>
					{% endif %}

					<th>Title</th>
			
					{% if filter_by == "buyer" %}
						<th>Buyer</th>
					{% else %}
						<th>User</th>
					{% endif %}


					<th>Status</th>
					<th>Date & Time</th>

					{% if filter_by == "buyer" %}
						<th>Tracking Number/ID</th>
					{% else %}
						<th>Star Rating</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>

				{% if disputes.total %}
					{% for order in disputes.items %}
					<tr>
						{% if filter_by == "buyer" %}
							<td><p><a href="{{ url_for('orders.view_order', order_id=order.id) }}" class="grey-link">#{{ order.id }}</a></p></td>
							<td><a class="blue-link" href="{{ url_for('listings.item', post_id=order.orders_post.id, previous_page='employees.disputes', username=filter_by) }}">{{ order.orders_post.title }}</a></td>

							{% if order.vendor_disputed %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=order.orders_post.vendor.username) }}">{{ User.query.filter_by(order.vendor_id).first().username }}</a></td>
							{% elif order.buyer_disputed %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.user_id).first().username) }}">{{ User.query.filter_by(id=order.user_id).first().username }}</a></td>
							{% endif %}

							{% if current_user.is_admin or current_user.is_employee %}
								<td><a href="{{ url_for('employees.view_order', order_id=order.id) }}" style="color: crimson; text-decoration: none">DISPUTING</td>
							{% else %}
								<td><a href="{{ url_for('orders.view_order', order_id=order.id) }}" style="color: crimson; text-decoration: none">DISPUTING</td>
							{% endif %}


							<!--<td><a style="color: orange ;">PENDING</a></td>-->
						
							<td>{{ order.recent_update.strftime("%b %-d %Y, %H:%M") }}</td>

							{% if order.buyer_shipped and OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_from != "Digital" and  OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_to != "Digital" %}
								<td style="color: purple">#{{ fernet.decrypt(order.tracking_number.encode()).decode() }}</td>
							{% elif OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_from != "Digital" and OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_to != "Digital" %}
								<td style="color: purple">Not Shipped Yet</td>
							{% elif order.buyer_shipped %}
								<td style="color: purple">Digitally Shipped</td>
							{% else %}
								<td style="color: purple">Digital</td>
							{% endif %}




						{% else %}
							<td><p><a href="{{ url_for('employees.view_review', review_id=order.id, filter_by=filter_by, page=page) }}" class="grey-link">#{{ order.id }}</a></p></td>
							<td><a class="blue-link" href="{{ url_for('listings.item', post_id=order.post_id, previous_page='employees.disputes', username=filter_by) }}">{{ order.title }}</a></td>

							{% if order.to_buyer %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.to_buyer).first().username) }}">{{ User.query.filter_by(id=order.to_buyer).first().username }}</a></td>
							{% else %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.vendor_id).first().username) }}">{{ User.query.filter_by(id=order.vendor_id).first().username }}</a></td>
							{% endif %}

							<td><a href="{{ url_for('employees.view_review', review_id=order.id, filter_by=filter_by, page=page) }}" style="color: crimson; text-decoration: none">DISPUTING</td>

							<td>{{ order.dispute_date.strftime("%b %-d %Y, %H:%M") }}</td>

							{% if order.rating == 1 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/one_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(1)</a>
							{% elif order.rating == 2 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/two_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(2)</a>
							{% elif order.rating == 3 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/three_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(3)</a>
							{% elif order.rating == 4 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/four_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(4)</a>
							{% elif order.rating == 5 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/five_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(5)</a>
							{% endif %}
						{% endif %}




						
						
					</tr>
					{% endfor %}

				{% else %}
					<tr>
						<!-- Print this if there are no values -->
						<td><p>None</p></td>
						<td>----------</td>
						<td>----------</td>
						<td>----------</td>
						<td>----------</td>
						<td>----------</td>
					</tr>

				{% endif %}
			</tbody>

		
		</table>



		<table class="orders-table phone-table">
			{% if disputes.total == 0 %}
				<thead>
					<tr>
						{% if filter_by == "buyer" %}
							<th>Order ID</th>
						{% else %}
							<th>Review ID</th>
						{% endif %}

						<th>Title</th>
				
						{% if filter_by == "buyer" %}
							<th>Buyer</th>
						{% else %}
							<th>User</th>
						{% endif %}


						<th>Status</th>
						<th>Date & Time</th>

						{% if filter_by == "buyer" %}
							<th>Track ID</th>
						{% else %}
							<th>Star Rating</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<!-- Print this if there are no values -->
						<td><p>N/A</p></td>
						<td>-------</td>
						<td>-------</td>
						<td>-------</td>
						<td>-------</td>
						<td>-------</td>
					</tr>
				</tbody>


			{% else %}
			<thead>
				<tr>
					{% if filter_by == "buyer" %}
						<th>Order ID /<span>Status</span></th>
					{% else %}
						<th>Review ID /<span>Status</span></th>
					{% endif %}

					<th>Title /<span>Time</span></th>
			
					{% if filter_by == "buyer" %}
						<th>Buyer /<span>Tracking ID</span></th>
					{% else %}
						<th>User /<span>Star Rating</span></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>

					{% for order in disputes.items %}
					<tr style="border-bottom: none">
						{% if filter_by == "buyer" %}
							<td><p><a href="{{ url_for('orders.view_order', order_id=order.id) }}" class="grey-link">#{{ order.id }}</a></p></td>
							<td><a class="blue-link" href="{{ url_for('listings.item', post_id=order.orders_post.id, previous_page='employees.disputes', username=filter_by) }}">{{ order.orders_post.title }}</a></td>

							{% if order.vendor_disputed %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=order.orders_post.vendor.username) }}">{{ User.query.filter_by(order.vendor_id).first().username }}</a></td>
							{% elif order.buyer_disputed %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.user_id).first().username) }}">{{ User.query.filter_by(id=order.user_id).first().username }}</a></td>
							{% endif %}

						</tr>
						<tr style="border-top: none">
							{% if current_user.is_admin or current_user.is_employee %}
								<td><a href="{{ url_for('employees.view_order', order_id=order.id) }}" style="color: crimson; text-decoration: none">DISPUTING</td>
							{% else %}
								<td><a href="{{ url_for('orders.view_order', order_id=order.id) }}" style="color: crimson; text-decoration: none">DISPUTING</td>
							{% endif %}


							<!--<td><a style="color: orange ;">PENDING</a></td>-->
						
							<td>{{ order.recent_update.strftime("%b %-d %Y, %H:%M") }}</td>

							{% if order.buyer_shipped and OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_from != "Digital" and  OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_to != "Digital" %}
								<td style="color: purple">#{{ fernet.decrypt(order.tracking_number.encode()).decode() }}</td>
							{% elif OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_from != "Digital" and OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_to != "Digital" %}
								<td style="color: purple">Not Shipped Yet</td>
							{% elif order.buyer_shipped %}
								<td style="color: purple">Digitally Shipped</td>
							{% else %}
								<td style="color: purple">Digital</td>
							{% endif %}




						{% else %}
							<td><p><a href="{{ url_for('employees.view_review', review_id=order.id, filter_by=filter_by, page=page) }}" class="grey-link">#{{ order.id }}</a></p></td>
							<td><a class="blue-link" href="{{ url_for('listings.item', post_id=order.post_id, previous_page='employees.disputes', username=filter_by) }}">{{ order.title }}</a></td>

							{% if order.to_buyer %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.to_buyer).first().username) }}">{{ User.query.filter_by(id=order.to_buyer).first().username }}</a></td>
							{% else %}
								<td><a class="orange-link" href="{{ url_for('users.profile', username=User.query.filter_by(id=order.vendor_id).first().username) }}">{{ User.query.filter_by(id=order.vendor_id).first().username }}</a></td>
							{% endif %}

						</tr>
						<tr style="border-top: none">
							<td><a href="{{ url_for('employees.view_review', review_id=order.id, filter_by=filter_by, page=page) }}" style="color: crimson; text-decoration: none">DISPUTING</td>

							<td>{{ order.dispute_date.strftime("%b %-d %Y, %H:%M") }}</td>

							{% if order.rating == 1 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/one_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(1)</a>
							{% elif order.rating == 2 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/two_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(2)</a>
							{% elif order.rating == 3 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/three_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(3)</a>
							{% elif order.rating == 4 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/four_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(4)</a>
							{% elif order.rating == 5 %}
								<td><a><img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/five_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;">(5)</a>
							{% endif %}
						{% endif %}




						
						
					</tr>
				</tbody>
					{% endfor %}

				{% endif %}


		
		</table>


	</section>

{% endblock content %}