{% extends "abstracts/layout.html" %}


{% block content %}

	<section class="item-view">
		<h1 style="border-radius: 6px">Item</h1>




<div>
		<!-- Make photo gallery -->
		<!-- Source: https://www.youtube.com/watch?v=9Irz0c-6UGw -->
		<div class="slidershow">

			<div class="slides">

				<!-- Invisible radio fields to allow for picure switches -->
				<input type="radio" name="radio-picture" id="radio-picture-1" checked>
				<input type="radio" name="radio-picture" id="radio-picture-2">
				<input type="radio" name="radio-picture" id="radio-picture-3">
				<input type="radio" name="radio-picture" id="radio-picture-4">
				<input type="radio" name="radio-picture" id="radio-picture-5">
				<input type="radio" name="radio-picture" id="radio-picture-6">
				<input type="radio" name="radio-picture" id="radio-picture-7">
				<input type="radio" name="radio-picture" id="radio-picture-8">
				<input type="radio" name="radio-picture" id="radio-picture-9">



				<!-- 'alt=""' is absolutely required so the images can shift!! -->
				<div class="slide current-slide">
					<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_1) }}" alt="">
				</div>

				<div class="slide">
					<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_2) }}">
				</div>

				<div class="slide">
					<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_3) }}">
				</div>


				{% if original.gallery_4 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_4) }}">
					</div>
				{% endif %}

				{% if original.gallery_5 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_5) }}">
					</div>
				{% endif %}

				{% if original.gallery_6 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_6) }}">
					</div>
				{% endif %}

				{% if original.gallery_7 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_7) }}">
					</div>
				{% endif %}

				{% if original.gallery_8 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_8) }}">
					</div>
				{% endif %}

				{% if original.gallery_9 %}
					<div class="slide">
						<img src="{{ url_for('static', filename='img/posts/originals/' + original.gallery_9) }}">
					</div>
				{% endif %}

			</div>

			<!-- The bars at the bottom to change radio buttons which are hidden and are associated with an image -->
			<div class="navigation">
				<label for="radio-picture-1" class="bar"></label>
				<label for="radio-picture-2" class="bar"></label>
				<label for="radio-picture-3" class="bar"></label>

				{% if original.gallery_4 %}
					<label for="radio-picture-4" class="bar"></label>
				{% endif %}

				{% if original.gallery_5 %}
					<label for="radio-picture-5" class="bar"></label>
				{% endif %}

				{% if original.gallery_6 %}
					<label for="radio-picture-6" class="bar"></label>
				{% endif %}

				{% if original.gallery_7 %}
					<label for="radio-picture-7" class="bar"></label>
				{% endif %}

				{% if original.gallery_8 %}
					<label for="radio-picture-8" class="bar"></label>
				{% endif %}

				{% if original.gallery_9 %}
					<label for="radio-picture-9" class="bar"></label>
				{% endif %}
			</div>

		</div>


		
		<!-- Tables are put over here to stick below the photo gallery at all times -->
		<section class="return-policy-item-margin">
			<p class="return-policy-item-text-margin">Return Policy:</p>
			<textarea class="return-policy-item-textarea-margin" readonly>{{ fernet.decrypt(original.post_refund_policy.encode()).decode() }}</textarea>
		<!--	<input style="margin-left: 15px ; padding: 2px 0 128px 5px;  width: 97% ; font-size: 16px ;" placeholder="hello"></input> -->
			<table class="buyer-seller-table" style="width: 99% ;"> <!--  margin-top: 350px ; -->
				<tr class="top-row">
					<th class="table-header-feedbacks">Product feedbacks</th>
					<th class="table-header-one-month">1 month</th>
					<th class="table-header-six-months">6 months</th>
					<th class="table-header-twelve-months">12 months</th>
					<th class="table-header-all-time">All time</th>
				</tr>
				<tr>
					<th class="table-header-rating">Positive</th>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
				</tr>
				<tr>
					<th class="table-header-rating">Neutral</th>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
				</tr>
				<tr>
					<th class="table-header-rating">Negative</th>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
				</tr>
			</table>

		</section>


		<section class="profile-user-reviews">
			<h1>Reviews (N/A)</h1>

			<div class="profile-user-filter">
				Filter <span class="right-orange-text">All</span>
			</div>

			<div class="profile-user-pages">
				Page <span class="right-orange-text">1</span>
			</div>

		</section>










		<div class="profile-user-info-view profile-user-info-view-margins">

			<div class="user-profile-buttons">


			<!-- Other's profile buttons -->
			<a href=""><button class="yellow-button">Add to Favorites</button></a>
			<button class="blue-button">Message Vendor</button>
			<a href=""><button class="green-button">View Profile</button></a>
			<button class="red-button">Report</button>

				<!-- Other profiles
				<button class="yellow-button">Add to Favorites</button>
				<button class="blue-button">Send Message</button>
				<button class="green-button">View Listings (0)</button>
				<button class="red-button">Report</button>
				!-->
			</div>


			<div class="profile-user-general-info">
				<p>Title: <span style="color: #AD4E22 ; font-weight: 600">{{ fernet.decrypt(original.post_title.encode()).decode() }}</span></p>
				
				<p>Vendor: <a class="blue-link" href="{{ url_for('users.profile', username=Post.query.filter_by(id=original.post_id).first().vendor.username) }}">{{ Post.query.filter_by(id=original.post_id).first().vendor.username }}</a> <img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/five_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;" href="#">(0)</a></p>

				<p style="margin-bottom: 3px">Order placed: {{ order.date_ordered.strftime("%b %-d %Y, %H:%M:%S") }} UTC time</p>


				<a>Price: <div class="monero-hover-reveal" style="display: inline"><img class="tiny-monero-coin" style="height: 18px; width: 18px ; position: absolute ; margin: -2px -5px 0 -1px; cursor: pointer" src="{{ url_for('static', filename='img/icons/monero_coin.png') }}">
						
							<div class="monero-dropdown-menu" style="margin-top: -3px; margin-left: 37px">
								<!--<img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px">-->
							 	<!-- USDT -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">$ {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * usdt) }}</a>
								</a>
								
								<!-- BTC -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/btc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * btc) }}</a>
								</a>

								<!-- BCH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/bch.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * bch) }}</a>
								</a>

								<!-- LTC -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/ltc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">Ł {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * ltc) }}</a>
								</a>

								<!-- DOGE -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/doge.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">Ð {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * doge) }}</a>
								</a>

								<!-- ETH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/xaut.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">₮ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * xaut) }}</a>
								</a>

								<!-- ETH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/eth.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px"><a style="padding-left: 38px">♦ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * eth) }}</a>
								</a>
							</div>
						

				 		<a style="margin-left: 20px;">{{ numpy.format_float_positional(float(fernet.decrypt(order.price_per_item.encode()).decode()), trim='-', precision=8) }}</a></div>
				
				<p>Supply: <span style="color: green ;">N/A</span> &nbsp;|&nbsp; Pending: <span style="color: orange ;">N/A</span> &nbsp;|&nbsp; Available: <span style="color: red ;">N/A</span></p>
				<p>Views: N/A</p>
				<p>Sales: N/A</p>

				<p>Reviews: <img style="height: 18px; width: 80px ; position: absolute ; margin: 3px 0 0 -3px;" src="{{ url_for('static', filename='img/icons/ratings/five_stars.png') }}"> <a class="blue-link" style="margin-left: 76px ;" href="#">(0)</a></p>


				<p>Disputes: <span style="color: green ;">N/A</span> won / <span style="color: orange ;">N/A</span> neutral / <span style="color: red ;">N/A</span> lost</p>

				<p style="margin-bottom: 8px ;">Shipping: {{ fernet.decrypt(original.shipping_from.encode()).decode() }}  ➞  {{ fernet.decrypt(original.shipping_to.encode()).decode() }}</p>







				<!-- Settings for the back button to work -->
				{% if previous_page == "employees.view_incoming_shipment" %}
					<a href="{{ url_for(previous_page, order_id=order.id) }}"><button class="search_button">Go Back</button></a>
				{% elif previous_page == "orders.view_order" %}
					<a href="{{ url_for(previous_page, order_id=order.id) }}"><button class="search_button">Go Back</button></a>
				{% elif previous_page == "orders.view_payment_id" %}
					<a href="{{ url_for(previous_page, payment_id=order.payment_id) }}"><button class="search_button">Go Back</button></a>
				{% elif previous_page == "employees.view_outgoing_shipment" %}
					<a href="{{ url_for(previous_page, order_id=order.id) }}"><button class="search_button">Go Back</button></a>
				{% else %}
					<a href="{{ url_for('main.home') }}"><button class="search_button">Go Back</button></a>
				{% endif %}
				

			</div>

			<p style="margin-top: 10px ; color: grey ;">Description:</p>
			<textarea class="description-item-textarea-margin" readonly>{{ fernet.decrypt(original.post_description.encode()).decode() }}</textarea>

		</div>
	</section>


	


{% endblock content %}







































<!--
	<h1>Item</h1>

	<img src="{{ url_for('static', filename='img/profiles/default.jpg') }}">

	<button>Message Vendor</button>
	<button>Add to cart</button>
	<button>But now</button>
	<button>Add to favorites</button>
	<button>Report</button>

	<p>Title: <span>How to create a simple website</span></p>

	<p>Price: <span>blank</span></p>

	<p>Reviews: <span>blank</span></p>

	<p>Views: <span>blank</span></p>

	<p>Sold: <span>blank</span></p>

	<p>Shipping from: <span>blank</span></p>

	<p>Shipping methods: <span>blank</span></p>

	<p>User: <span>blank</span></p>
	<p>Last seen: <span>blank</span></p>


	<p>Feedbacks: <span>blank</span></p>

	<p>Description: <span>blank</span></p>
	<p>Refund Policy: <span>blank</span></p>

-->











