{% extends "abstracts/layout.html" %}



{% block content %}

	<section class="login-register-view">
		{% if fernet.decrypt(OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_from.encode()).decode() == "Digital" or fernet.decrypt(OrderPostDetails.query.filter_by(post_id=order.post_id, payment_id=order.payment_id).first().shipping_to.encode()).decode() == "Digital" %}
		<!-- Banner to appear above the register form describing the requirments needed to register an account -->
			<ul class="login-register-alert">
				<li><span style="color: orange; text-transform: uppercase">Inspect</span> the digital item that the vendor sent down in the description below.</li>
				<li>Please submit <span style="color: purple">INFORMATION</span> about the item to the buyer.</li>
				<li>Upload minimum 6 photos maximum 21 photos of the item(s) in the <span style="color: blue">BLUE</span> button.</li>
				<li>Picture uploads in Jpeg, Jpg, Png, and Pneg ONLY.</li>
				<li>If you need help, please message <a href="" class="blue-link"> MoneroMarket.</a></li>
			</ul>


			<!-- Print label for the Title field -->
			<legend style="margin-top: 2px ;">Description from Vendor:</legend>
			<!-- Change to order.description_vendor -->
			<textarea class="login-register-form-input" style="resize: vertical; padding: 5px 0 50px 5px; color: grey">{{ fernet.decrypt(order.description_vendor.encode()).decode() }}</textarea>

				


			<div class="container" style="border: none ;">
				<h1 style="border-radius: 6px ; margin-bottom: 7px; margin-top: 4px ;">Order info</h1>
				<section class="cart-quick-view" style="margin: auto ; border-top: dotted 0.5px grey">
					<img class="cart-quick-view-img" src="{{ url_for('static', filename='img/posts/' + order.orders_post.gallery_1) }}">

					<div class="cart-quick-view-content">
						<a class="cart-quick-view-title" href="{{ url_for('listings.item', post_id=order.orders_post.id, previous_page='orders.accept', username=order.id) }}">{{ order.orders_post.title }}</a>

						<p style="color: orange"><span class="cart-quick-view-category">{{ SubCategory.query.get(order.orders_post.sub_category).name }}</span> - <a class="cart-quick-view-vendor" href="{{ url_for('users.profile', username=order.orders_post.vendor.username) }}">{{ order.orders_post.vendor.username }}</a></p>


						<div class="cart-quick-view-amount">
							<a style="float: left ; margin-right: 7px ; color: grey ;">Price: </a>

							<div class="monero-hover-reveal" style="display: inline"><img class="tiny-monero-coin" style="height: 18px; width: 18px ; position: absolute ; margin: -3px 0px 0 -2px; cursor: pointer" src="{{ url_for('static', filename='img/icons/monero_coin.png') }}">
						
							<div class="monero-dropdown-menu" style="margin-top: 19px; margin-left: 181px">
								<!--<img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px">-->
							 	<!-- USDT -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >$ {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * usdt) }}</a>
								</a>
								
								<!-- BTC -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/btc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * btc) }}</a>
								</a>

								<!-- BCH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/bch.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * bch) }}</a>
								</a>

								<!-- LTC -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/ltc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >Ł {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * ltc) }}</a>
								</a>

								<!-- DOGE -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/doge.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >Ð {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * doge) }}</a>
								</a>

								<!-- ETH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/xaut.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >₮ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * xaut) }}</a>
								</a>

								<!-- ETH -->
								<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/eth.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px;" >♦ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * eth) }}</a>
								</a>
							</div>

				 		<a style="margin-left: 20px; color: black">{{ numpy.format_float_positional(float(fernet.decrypt(order.price_per_item.encode()).decode()), trim='-', precision=8) }}</a></div>
						</div>

						<!-- <p class="cart-quick-view-stock" style="color: green ;">In stock</p> -->
						<div class="cart-quick-view-amount">
							<p><a href="{{ url_for('employees.original_item', order_id=order.id, previous_page='employees.view_incoming_shipment') }}" style="float: left ; margin-right: 7px ; color: lime ;">View original</a></p>
							<br>
						</div>


						<p class="checkout-quick-view-quantity">Quantity: </p>
							<span class="checkout-quick-view-quantity-input-field"><input placeholder="{{ fernet.decrypt(order.buying_amount.encode()).decode() }}" readonly></span>

						<a href="{{ url_for('messages.forward', username=User.query.filter_by(id=order.user_id).first().username, previous_page='orders.accept', previous_page_id=order.id, sender='ADMIN', message_type='TRANSACTION') }}"><p class="checkout-quick-view-message" style="margin-top: -70px">Message buyer</p></a>

						<a href="{{ url_for('orders.cart_delete', cart_id=order.orders_post.id) }}"><p class="payment-quick-view-remove" style="margin-top: -45px">Dispute <span><img class="red-x" src="{{ url_for('static', filename='img/icons/red_x.png') }}"></span></p></a>
						<a><p class="checkout-quick-view-status blue-link">{{ order.status }}</p></a>
					</div>
				</section>



				<form class="" method="POST" action="" enctype="multipart/form-data">
					<!-- SECRET KEY to protect from foreign attacks -->
					{{ form_digital.hidden_tag() }}

					<!--
					<legend style="margin-top: 10px ;">Ship To:</legend>
					<textarea class="login-register-form-input invalid-field-border", style="overflow: scroll ; width: 98.2% ; resize: vertical ; min-height: 100px ; padding: 7px ; border: 1px solid #E1D8D9 ; border-radius: 6px ; font-size: 16px ; color: #333333" readonly>MoneroMarket
	123 Banana St, Apt 256C
	Manhattan, New York 10001
	United States of America</textarea>-->

					




					<!-- Print label for the Title field -->
					<legend style="margin-top: 5px ;">{{ form_digital.description.label }}:</legend>

					<!-- description input field -->
					{% if form_digital.description.errors %}

						{{ form_digital.description(placeholder="Write a description of the item and the shipping process all in full detail; More is better than less..", class="login-register-form-input invalid-field-border", style="resize: vertical; padding: 5px 0 50px 5px") }}

						<div class="display-invalid-field">
							{% for error in form_digital.description.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form_digital.description(placeholder="Write a description of the item and the shipping process all in full detail; More is better than less..", class="login-register-form-input", style="resize: vertical; padding: 5px 0 50px 5px") }}

					{% endif %}





					<!-- Print label for the Title field -->
					<legend style="margin-top: 5px ;">{{ form_digital.description_digital.label }}:</legend>

					<!-- description input field -->
					{% if form_digital.description_digital.errors %}

						{{ form_digital.description_digital(placeholder="Information that the buyer needs, including the link to the item (if there is one)..", class="login-register-form-input invalid-field-border", style="resize: vertical; padding: 5px 0 50px 5px") }}

						<div class="display-invalid-field">
							{% for error in form_digital.description_digital.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form_digital.description_digital(placeholder="Information that the buyer needs, including the link to the item (if there is one)..", class="login-register-form-input", style="resize: vertical; padding: 5px 0 50px 5px") }}

					{% endif %}












					<!-- Button -->
					<div style="float: left">
						<legend>Order pictures: </legend>

						{{ form_digital.pictures(class="upload-file-blue-button", placeholder="Upload Pictures (3 - 12)", style="margin: 0 0 5px 0") }}
					</div>

					<div style="float: left; width: 100%">
						<p style="color: white">p</p>
					</div>
					<div style="float: none;">
						<p style="color: white">p</p>
					</div>



					



					<!-- Button -->
					{{ form_digital.submit(class="search_button", style="padding: 8px ; margin: -3px 0 10px 0px ;") }}
					<a href=""><button class="search_button red-button" style="padding: 8px ; margin: -3px 0px 10px 7px ;">Decline</button></a>
				</form>
			</div>


















		{% else %}
			<!-- Banner to appear above the register form describing the requirments needed to register an account -->
			<ul class="login-register-alert">
				<li>Ship the item(s) to the address below.</li>
				<li>Please submit <span style="color: purple">Tracking Number/ID</span> as soon as you send out the item.</li>
				<li>Please <span style="color: crimson">REMEMBER</span> to post <span style="color: green">SHIPPING COSTS</span> from our office to the buyer.</li>
				<li>Upload minimum 6 photos maximum 21 photos of the item(s) in the <span style="color: blue">BLUE</span> button.</li>
				<li>Upload 1 photo of the delivery receipt in the <span style="color: lime">GREEN</span> button.</li>
				<li>Picture uploads in Jpeg, Jpg, Png, and Pneg ONLY.</li>
				<li>If you need help, please message <a href="" class="blue-link"> MoneroMarket.</a></li>
			</ul>


			<!-- Print label for the Title field -->
			<legend style="margin-top: 5px">Tracking Number/ID: <span class="light-blue">{{ fernet.decrypt(order.tracking_number.encode()).decode() }}</span></legend>

			<legend style="margin-top: 2px ;">Description from Vendor:</legend>
			<!-- Change to order.description_vendor -->
			<textarea class="login-register-form-input" style="resize: vertical; padding: 5px 0 50px 5px; color: grey">{{ fernet.decrypt(order.description_vendor.encode()).decode() }}</textarea>

				


			<div class="container" style="border: none ;">
				<h1 style="border-radius: 6px ; margin-bottom: 7px; margin-top: 4px ;">Order info</h1>
				<section class="cart-quick-view" style="margin: auto ; border-top: dotted 0.5px grey">
					<img class="cart-quick-view-img" src="{{ url_for('static', filename='img/posts/' + order.orders_post.gallery_1) }}">

					<div class="cart-quick-view-content">
						<a class="cart-quick-view-title" href="{{ url_for('listings.item', post_id=order.orders_post.id, previous_page='orders.accept', username=order.id) }}">{{ order.orders_post.title }}</a>

						<p style="color: orange"><span class="cart-quick-view-category">{{ SubCategory.query.get(order.orders_post.sub_category).name }}</span> - <a class="cart-quick-view-vendor" href="{{ url_for('users.profile', username=order.orders_post.vendor.username) }}">{{ order.orders_post.vendor.username }}</a></p>


						<div class="cart-quick-view-amount">
							<a style="float: left ; margin-right: 5px ; color: grey ;">Price: </a>
							<div class="monero-hover-reveal" style="display: inline"><img class="tiny-monero-coin" style="height: 18px; width: 18px ; position: absolute ; margin: -3px 0px 0 0px; cursor: pointer" src="{{ url_for('static', filename='img/icons/monero_coin.png') }}">
							
								<div class="monero-dropdown-menu" style="margin-top: 19px; margin-left: 181px">
									<!--<img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px">-->
								 	<!-- USDT -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/usdt.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">$ {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * usdt) }}</a>
									</a>
									
									<!-- BTC -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/btc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * btc) }}</a>
									</a>

									<!-- BCH -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/bch.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">₿ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * bch) }}</a>
									</a>

									<!-- LTC -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/ltc.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">Ł {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * ltc) }}</a>
									</a>

									<!-- DOGE -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/doge.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">Ð {{ "{:.2f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * doge) }}</a>
									</a>

									<!-- ETH -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/xaut.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">₮ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * xaut) }}</a>
									</a>

									<!-- ETH -->
									<a style="width: 120px"><img src="{{ url_for('static', filename='img/icons/flags/eth.png') }}" style="height: 20px; width: 20px; display: inline; margin-right: -100px; margin-top: 2px; margin-left: 4px; float: left"><a style="padding-left: 38px; background-color: #F0F0F0">♦ {{ "{:.5f}".format(float(fernet.decrypt(order.price_per_item.encode()).decode()) * eth) }}</a>
								</div>

					 		<a style="margin-left: 22px; color: black">{{ numpy.format_float_positional(float(fernet.decrypt(order.price_per_item.encode()).decode()), trim='-', precision=8) }}</a></div>

							
						</div>

						<!-- <p class="cart-quick-view-stock" style="color: green ;">In stock</p> -->
						<div class="cart-quick-view-amount">
							<p><a href="{{ url_for('employees.original_item', order_id=order.id, previous_page='employees.view_incoming_shipment') }}" style="float: left ; margin-right: 7px ; color: lime ;">View original</a></p>
							<br>
						</div>


						<p class="checkout-quick-view-quantity">Quantity: </p>
							<span class="checkout-quick-view-quantity-input-field"><input placeholder="{{ fernet.decrypt(order.buying_amount.encode()).decode() }}" readonly></span>

						<a href="{{ url_for('messages.forward', username=User.query.filter_by(id=order.user_id).first().username, previous_page='orders.accept', previous_page_id=order.id, sender='ADMIN', message_type='TRANSACTION', order_id=order.id) }}"><p class="checkout-quick-view-message" style="margin-top: -70px">Message buyer</p></a>

						<a href="{{ url_for('orders.cart_delete', cart_id=order.orders_post.id) }}"><p class="payment-quick-view-remove" style="margin-top: -45px">Dispute <span><img class="red-x" src="{{ url_for('static', filename='img/icons/red_x.png') }}"></span></p></a>
						<a><p class="checkout-quick-view-status blue-link">{{ order.status }}</p></a>
					</div>
				</section>



				<form class="" method="POST" action="" enctype="multipart/form-data">
					<!-- SECRET KEY to protect from foreign attacks -->
					{{ form.hidden_tag() }}

					<!--
					<legend style="margin-top: 10px ;">Ship To:</legend>
					<textarea class="login-register-form-input invalid-field-border", style="overflow: scroll ; width: 98.2% ; resize: vertical ; min-height: 100px ; padding: 7px ; border: 1px solid #E1D8D9 ; border-radius: 6px ; font-size: 16px ; color: #333333" readonly>MoneroMarket
	123 Banana St, Apt 256C
	Manhattan, New York 10001
	United States of America</textarea>-->
					
					<legend style="margin-top: 10px ;">Ship To:</legend>
					<textarea class="login-register-form-input invalid-field-border", style="overflow: scroll ; width: 98.2% ; resize: vertical ; min-height: 100px ; padding: 7px ; border: 1px solid #E1D8D9 ; border-radius: 6px ; font-size: 16px ; color: grey" readonly>{{ fernet.decrypt(order.name_and_address.encode()).decode() }}</textarea>



					<legend style="margin: 7px 0 2px 0">{{ form.tracking_number.label }}:</legend>

					{% if form.tracking_number.errors %}

						{{ form.tracking_number(placeholder="Enter Tracking Number/ID..", class="login-register-form-input invalid-field-border", style="width: 100") }}

						<div class="display-invalid-field">
							{% for error in form.tracking_number.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form.tracking_number(placeholder="Enter Tracking Number/ID..", class="login-register-form-input", style="width: 100") }}

					{% endif %}



					<!-- Right side -->
					<div class="create-post-left-price">

						<!-- Print label for the Title field -->
						<legend style="float: left">{{ form.shipping_cost.label }}:</legend>

						<div style="float: left; margin-left: 5px">
							<select name="currency" id="currency" placeholder="Select currency"> 
								<optgroup label="Currencies">

									<option value="xmr">Monero (XMR)</option>
									<option value="usdt">Tether (USDT)</option>
									<option value="btc">Bitcoin (BTC)</option>
									<option value="bch">Bitcoin Cash (BCH)</option>
									<option value="ltc">Litecoin (LTC)</option>
									<option value="doge">Dogecoin (DOGE)</option>
									<option value="xaut">Tether Gold (XAUT)</option>
									<option value="eth">Ethereum (ETH)</option>

								</optgroup>
							</select>
						</div>


						
					</div>
					<div style="float: right">
							<span style="font-size: 13px">Tied to fiat:</span>
							<!-- Disabled for now, but will add static prices in the future.... -->
							<input type="checkbox" id="fiat" name="fiat" value="Fiat" disabled>
						</div>

					<!--<legend style="margin: 7px 0 2px 0">{{ form.shipping_cost.label }}:</legend>-->
					<div style="clear: both"></div>

					{% if form.shipping_cost.errors %}

						{{ form.shipping_cost(placeholder="Enter shipping costs..", class="login-register-form-input invalid-field-border", style="width: 100") }}

						<div class="display-invalid-field">
							{% for error in form.shipping_cost.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form.shipping_cost(placeholder="Enter shipping costs..", class="login-register-form-input", style="width: 100") }}

					{% endif %}



					<legend style="margin-top: 5px ;">{{ form.expected_arrival_date.label }}:</legend>
					{% if form.expected_arrival_date.errors %}

						{{ form.expected_arrival_date(placeholder="MM/DD/YYYY format..", class="login-register-form-input invalid-field-border", style="width: 100") }}

						<div class="display-invalid-field">
							{% for error in form.expected_arrival_date.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form.expected_arrival_date(placeholder="MM/DD/YYYY format..", class="login-register-form-input", style="width: 100") }}

					{% endif %}
					




					<!-- Print label for the Title field -->
					<legend style="margin-top: 5px ;">{{ form.description.label }}:</legend>

					<!-- description input field -->
					{% if form.description.errors %}

						{{ form.description(placeholder="Write a description of the item and the shipping process all in full detail; More is better than less..", class="login-register-form-input invalid-field-border", style="resize: vertical; padding: 5px 0 50px 5px") }}

						<div class="display-invalid-field">
							{% for error in form.description.errors %}
								<span> {{ error }} </span>

							{% endfor %}
						</div>

					{% else %}
						<!-- This is processed as an <input> -->
						{{ form.description(placeholder="Write a description of the item and the shipping process all in full detail; More is better than less..", class="login-register-form-input", style="resize: vertical; padding: 5px 0 50px 5px") }}

					{% endif %}












					<!-- Button -->
					<div style="float: left">
						<legend>Order pictures: </legend>

						{{ form.pictures(class="upload-file-blue-button", placeholder="Upload Pictures (3 - 12)", style="margin: 0 0 5px 0") }}
					</div>
					<div style="float: left; margin-left: 12px">
						<legend>Receipt: </legend>

						{{ form.receipt_picture(class="upload-file-green-button", placeholder="Upload Receipt", style="margin: 0 0 5px 0") }}
					</div>
					<div style="float: left; width: 100%">
						<p style="color: white">p</p>
					</div>
					<div style="float: none;">
						<p style="color: white">p</p>
					</div>



					



					<!-- Button -->
					{{ form.submit(class="search_button", style="padding: 8px ; margin: -3px 0 10px 0px ;") }}
					<a href=""><button class="search_button red-button" style="padding: 8px ; margin: -3px 0px 10px 7px ;">Decline</button></a>
				</form>
			</div>














		{% endif %}
	</section>





{% endblock %}