{% extends "abstracts/layout.html" %}



{% block content %}
	<section class="orders-view">
		<h1>{{ current_user.username }}'s Message</h1>


		<a href="{{ url_for('messages.list', filter_by=direction, page=page) }}" style="float: right; margin: 6px 12px 0 0"><button class="search_button">Go Back</button></a>
		<p>Report to <a class="red-link" href="{{ url_for('users.profile', username='ADMIN') }}">ADMIN?</a> <a href="{{ url_for('messages.forward', username='ADMIN', previous_page='messages.view', previous_page_id=message.id) }}" style="text-decoration: none"><span>Click here</span></a>


		<table class="orders-table">
			<thead>
				<tr>
					<th style="text-align: center ;" colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				<tr style="border-bottom: none ;">
					<td>
						<legend>Message to:</legend>
						{% if message.message_to == 1 %}
							<div class="crimson-color-placeholder">
								<input class="login-register-form-input" placeholder="ADMIN" style="color: red" readonly type="text">
							</div>
						{% else %}
							<input class="login-register-form-input" placeholder="{{ User.query.get(message.message_to).username }}" readonly>
						{% endif %}
					</td>


					<td>
						<legend>Message from:</legend>
						{% if message.message_from == 1 %}
							<div class="crimson-color-placeholder">
								<input class="login-register-form-input" placeholder="ADMIN" style="color: red" readonly type="text">
							</div>
						{% else %}
							<input class="login-register-form-input" placeholder="{{ User.query.get(message.message_from).username }}"readonly>
						{% endif %}
					</td>
				</tr>
				<tr style="border-bottom: none ;">
					<td colspan="2">
						<legend>Subject:</legend>

						<input class="login-register-form-input" placeholder="{{ fernet.decrypt(message.title.encode()).decode() }}" readonly>

					</td>
				</tr>
				<tr style="border-bottom: none ;">
					<td colspan="2">
						<legend>Message body:</legend>

						{% if User.query.get(message.message_from).username == "ADMIN" and fernet.decrypt(message.title.encode()).decode().find("New order request from") != -1 %}

							<div class="textbox">
								<p>An order has been made for Post ID #{{ fernet.decrypt(message.description.encode()).decode().split(" ")[1] }}.</p>
								<p>Please fill out the order acceptance form <a href="{{ url_for('orders.accept', order_id=fernet.decrypt(message.description.encode()).decode().split(' ')[0], message_id=message.id) }}" class="blue-link">here.</a></p>

								<br>
								<p>You have 24 hours to Accept AND Ship order AND provide tracking number/ID without penalty, and if done over 24 hours but under 48 hours it's with a 1% FEE.</p>
								<p>If accepted over 48 hours but under 72 hours it's with a 2% FEE.</p>
								<p>If order is not accepted within 72 hours, the order will be cancelled and you will be charged a 3% FEE.</p>
							</div>

						{% else %}

							<textarea class="login-register-form-input" style="padding: 5px 0 140px 5px ; resize: vertical ;" placeholder="{{ fernet.decrypt(message.description.encode()).decode() }}" readonly></textarea>
						{% endif %}
					</td>
				</tr>
				<tr>
					<!-- Button -->
					<td colspan="2">
						{% if direction == "received" %}
							<a href="{{ url_for('messages.forward', username=User.query.get(message.message_from).username, previous_page='messages.view', previous_page_id=message.id) }}"><button class="search_button">Reply</button></a> 

							<a href="{{ url_for('messages.delete_received', message_id=message.id) }}" style="margin-left: 10px ;"><button class="search_button red-button">Delete</button></a> </td>

						{% elif direction == "sent" %}
							<a href="{{ url_for('messages.forward', username=User.query.get(message.message_to).username, previous_page='messages.view', previous_page_id=message.id) }}"><button class="search_button">Reply</button></a>

							<a href="{{ url_for('messages.delete_sent', message_id=message.id) }}" style="margin-left: 10px ;"><button class="search_button red-button">Delete</button></a> </td>
						{% endif %}

				</tr>
			</tbody>

		
		</table>

		<p style="color: #828282">Questions? <a class="blue-link" href="#">Click here</a></p>


	</section>
	<p style="margin-left: 5px; margin-top: 10px; color: grey">Official messages from <a class="red-link" href="{{ url_for('users.profile', username='ADMIN') }}">ADMIN</a> will have the username appear in <span style="color: red">RED.</span> Any user that claims to be <a class="red-link" href="{{ url_for('users.profile', username='ADMIN') }}">ADMIN</a> but username doesn't come out red is a fake.</p>

{% endblock content %}